{% extends 'base.html' %}

{% block content %}
        <article class='media content-section'>
            {% comment %} <img class='rounded-circle account-img' src='{{profile.image.url}}'/> {% endcomment %}
            <div class='media-body'>
                <div class='article-metadata'>
                    <h2 class='account-heading'>About EdTech Wishlist</h2>

                    {% comment %} <p class="text-secondary"><a href='mailto:{{profile.user.email}}'>{{ profile.user.email }}</a><p> {% endcomment %}
                </div>

                <h3 class='article-title'>Our Mission</h2>
                <p class='article-content'>EdTech Wishlist is a platform where educators and developers come together to brainstorm and build EdTech software to facilitate teaching and learning. </p>


                <h3 class='article-title'>Our People</h2>
                <p class='article-content'>Professor Craig Kapp - NYU Courant <br/>Oliver Wang - NYU Courant</p>



                <h3 class='article-title'>Join Us Today</h2>
                <p class='article-content'>We welcome educators, students, and developers from every corner of the world! <br/><a href="{% url 'register' %}">Sign Up Now</a>!</p>

            </div>
    </article>
{% endblock content %}