{% extends 'base.html' %}

{% block head_title %}
    - Ideas
{% endblock head_title %}

{% block content %} 

<div class='row text-center'>
    <div class='col mb-4'>
        <h1>{{ "Welcome to the Ed Tech Wishlist! " }}</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form  method='POST' id='idea-create-form' class='form' action='create/'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='idea-create-form-error'></div>
            <input type='hidden' value='/ideas/' name='next'/>
            <textarea required='required' class='form-control md-4' name='content' placeholder='Your Content'></textarea>
            <button type='submit' class='btn btn-primary'>Post</button>
        </form>
    </div>
</div>

<div class='row' id="ideas">
    Loading...
</div>

<script>

function handleIdeaFormError(msg, display){
    var myErrorDiv = document.getElementById("idea-create-form-error")
    if (display === true){
        //show error
        myErrorDiv.setAttribute("class", "d-block alert, alert-danger")
        myErrorDiv.innerText = msg
    }
    else{
        //hide error
        myErrorDiv.setAttribute("class", "d-none alert alerg-danger")
    }
}


function handleIdeaCreateFormDidSubmit(event){
    event.preventDefault()
    
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")

    const responseType = 'json'
    const xhr = new XMLHttpRequest()
    xhr.responseType = responseType

    const method = myForm.getAttribute("method")
    
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    
    xhr.onload = function(){
        if(xhr.status === 201){

            //this turns off the error message from a previous request
            handleIdeaFormError("", false)
            
            //get JSON response from idea_create_view
            const newIdeaJson = xhr.response
            // const newIdeaJson = JSON.parse(newIdea)
            //console.log(newIdeaJson.wanted)

            //map the JSON object into the format
            const newIdeaElement = formatIdeaElement(newIdeaJson)
            console.log(newIdeaElement)

            // prepending the tweets
            const ogHtml = ideasContainerElement.innerHTML
            ideasContainerElement.innerHTML = newIdeaElement + ogHtml

            myForm.reset()
        }
        else if(xhr.status === 400){
            const errorJson = xhr.response
            const contentError = errorJson.content
            let contentErrorMsg; 
            if(contentError){
                contentErrorMsg = contentError[0]
                if(contentErrorMsg){
                    handleIdeaFormError(contentErrorMsg, true)
                }
                else{
                    alert("An error occurred. ")
                }
            }
            else{
                alert("An error occured. ")
            }
            
        }
        else if(xhr.status === 401){
            alert("You must login ")
            window.location.href = "/login"
        }
        else if(xhr.status === 500){
            alert("A server error occurred. ")
        }
        // const ideasEl = document.getElementById("ideas")
        // loadIdeas(ideasEl)
    }

    xhr.onerror= function(){
        alert("An error occurred. Please try again later. ")
    }

    xhr.send(myFormData)

    console.log(url, method)


}


// get the crate form and hand the submit event
const ideaCreateFormEl = document.getElementById("idea-create-form")
ideaCreateFormEl.addEventListener("submit", handleIdeaCreateFormDidSubmit)

const ideasContainerElement = document.getElementById("ideas")

//display ideas from the database
function formatIdeaElement(idea){

    var formattedIdea = "<div class='col-12 col-md-10 mx-auto mb-4 border rounded py-3' id='idea-" + idea.id 
    +  "'> <p>" + idea.content
    + "</p><div class='btn-group'>" 
    + "</div></div>"
    return formattedIdea
}

function loadIdeas(ideasElement){
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/ideas/list/'
    const responseType = 'json'
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response

        var listedItems = serverResponse.response
        var finalIdeaStr = ""
        var i;
        console.log(listedItems.length)
        for (i=0; i < listedItems.length; i++){
            var ideaObject = listedItems[i]
            var currentItem = formatIdeaElement(ideaObject)

            finalIdeaStr += currentItem
        }
        ideasElement.innerHTML = finalIdeaStr
        {% comment %} console.log(ideasElement.innerHTML) {% endcomment %}
    }
    xhr.send()

}

loadIdeas(ideasContainerElement)

{% comment %} function handleDidWant(ideaId, currentWanted){
    console.log(ideaId, currentWanted)

} {% endcomment %}

{% comment %} function wantButton(idea){
    return "<button class='btn btn-primary' onclick=handleDidWant("+idea.id + ","+ idea.wanted + ")> Wanted by " + idea.wanted + "</button>"
} {% endcomment %}


</script>



{% endblock content %}