{% extends 'base.html' %}

{% block head_title %}
    - Ideas
{% endblock head_title %}

{% block content %} 

<div class='row text-center'>
    <div class='col mb-4'>
        <h1>{{ "Welcome to the Ed Tech Wishlist! " }}</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form  method='POST' id='idea-create-form' class='form' action='create/'>
            {% csrf_token %}
            <input type='hidden' value='/ideas/' name='next'/>
            <textarea required='required' class='form-control md-4' name='content' placeholder='Your Content'></textarea>
            <button type='submit' class='btn btn-primary'>Post</button>
        </form>
    </div>
</div>

<div class='row' id="ideas">
    Loading...
</div>

<script>

function handleIdeaCreateFormDidSubmit(event){
    event.preventDefault()
    
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")

    const responseType = 'json'
    const xhr = new XMLHttpRequest()
    xhr.responseType = responseType

    const method = myForm.getAttribute("method")
    
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    
    xhr.onload = function(){
        if(xhr.status === 201){

            //get JSON response from idea_create_view
            const newIdeaJson = xhr.response
            // const newIdeaJson = JSON.parse(newIdea)
            //console.log(newIdeaJson.wanted)

            //map the JSON object into the format
            const newIdeaElement = formatIdeaElement(newIdeaJson)
            console.log(newIdeaElement)

            // prepending the tweets
            const ogHtml = ideasContainerElement.innerHTML
            ideasContainerElement.innerHTML = newIdeaElement + ogHtml

            myForm.reset()
        }
        else if(xhr.status === 400){
            const errorJson = xhr.response
            console.log(errorJson)
        }
        else if(xhr.status === 500){
            alert("A server error occurred. ")
        }
        // const ideasEl = document.getElementById("ideas")
        // loadIdeas(ideasEl)
    }

    xhr.onerror= function(){
        alert("An error occurred. Please try again later. ")
    }

    xhr.send(myFormData)

    console.log(url, method)


}


// get the crate form and hand the submit event
const ideaCreateFormEl = document.getElementById("idea-create-form")
ideaCreateFormEl.addEventListener("submit", handleIdeaCreateFormDidSubmit)

const ideasContainerElement = document.getElementById("ideas")

//display ideas from the database
function formatIdeaElement(idea){

    var formattedIdea = "<div class='col-12 col-md-10 mx-auto mb-4 border rounded py-3' id='idea-" + idea.id 
    +  "'> <p>" + idea.content
    + "</p><div class='btn-group'>" + wantButton(idea)
    + "</div></div>"
    return formattedIdea
}

function loadIdeas(ideasElement){
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/ideas/list/'
    const responseType = 'json'
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finalIdeaStr = ""
        var i;
        for (i=0; i < listedItems.length; i++){
            var ideaObject = listedItems[i]
            var currentItem = formatIdeaElement(ideaObject)
            finalIdeaStr += currentItem
        }
        ideasElement.innerHTML = finalIdeaStr

    }
    xhr.send()

}

loadIdeas(ideasContainerElement)

function handleDidWant(ideaId, currentWanted){
    console.log(ideaId, currentWanted)

}

function wantButton(idea){
    return "<button class='btn btn-primary' onclick=handleDidWant("+idea.id + ","+ idea.wanted + ")> Wanted by " + idea.wanted + "</button>"
}


</script>



{% endblock content %}