{% extends 'base.html' %}

{% block head_title %}
    - Ideas
{% endblock head_title %}

{% block content %} 

<div class='row text-center'>
    <div class='col mb-4'>
        <h1>{{ "Welcome to the Ed Tech Wishlist! " }}</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form  method='POST' id='idea-create-form' class='form' action='create/'>
            {% csrf_token %}
            <input type='hidden' value='/ideas/' name='next'/>
            <textarea class='form-control md-4' name='content' placeholder='Your Content'></textarea>
            <button type='submit' class='btn btn-primary'>Post</button>
        </form>
    </div>
</div>

<div class='row' id="ideas">
    Loading...
</div>

<script>

function handleIdeaCreateFormDidSubmit(event){
    event.preventDefault()
    
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    xhr.open(method, url)
    console.log("Got here")
    xhr.onload = function(){
        const serverResponse = xhr.response
        console.log(serverResponse)
        const ideasEl = document.getElementById("ideas")
        loadIdeas(ideasEl)
    }
    xhr.send(myFormData)

    console.log(url, method)


}

const tweetCreateFormEl = document.getElementById("idea-create-form")

tweetCreateFormEl.addEventListener("submit", handleIdeaCreateFormDidSubmit)

const ideasEl = document.getElementById("ideas")

function loadIdeas(ideasElement){
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/ideas/list/'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finalIdeaStr = ""
        var i;
        for (i=0; i < listedItems.length; i++){
            var ideaObject = listedItems[i]
            var currentItem = formatIdeaElement(ideaObject)
            finalIdeaStr += currentItem
        }
        ideasElement.innerHTML = finalIdeaStr

    }
    xhr.send()

}

loadIdeas(ideasEl)

function handleDidWant(ideaId, currentWanted){
    console.log(ideaId, currentWanted)

}

function wantButton(idea){
    return "<button class='btn btn-primary' onclick=handleDidWant("+idea.id + ","+ idea.numWanted + ")> Wanted by " + idea.numWanted + "</button>"
}


function formatIdeaElement(idea){

    var formattedIdea = "<div class='col-12 col-md-10 mx-auto mb-4 border rounded py-3' id='idea-" + idea.id 
    +  "'> <p>" + idea.content
    + "</p><div class='btn-group'>" + wantButton(idea)
    + "</div></div>"
    return formattedIdea
}



</script>



{% endblock content %}